In [1]:
b=22
print(b%10)

2

In [6]:
p1=input("Enter your name : ")
p2=input("Enter college name : ")
p3=int(input("Enter your age : "))
print(str(p1)+ " is a student from " +str(p2)+ " and my age is "+str(p3) )

Enter your name : Swedel
Enter college name : Fr Conceicao Rodrigues College of Engineering
Enter your age : 24
Swedel is a student from Fr Conceicao Rodrigues College of Engineering and my age is 24

In [71]:
#data structures

'''
a way fo organising and storing data such that we can access 
and modify it efficiently.

primitive data types like int,float,booleans and strings.

........list is mutable........
'''


# lists/tuples/sets/dictionaries
'''
Python Lists
list can be hetergeneous
a. How to Declare Python List?
b. How to Access Python List?
  1. Accessing an entire list
  2. Accessing a single item from the list
    Positive Indexing
    Negative Indexing
  3. Slicing a Python List
c. A list is mutable
d. How to Delete a Python List?
e. Reassigning a List in Python
  1. Reassigning a single item
  2. Reassigning a slice
  3. Reassigning the entire list
'''
'''
a. How to Declare Python List?
'''
list1=["apple","banana","Orange","cherry",False,(3,4)]
print(list1[5]) 


''' 
b. How to Access Python List?
1. Accessing an entire list
'''
print(list1)


'''
2. Accessing a single item from the list
(a)Positive Indexing : begins at 0
(b)Negative Indexing : begins at -1
'''
print(type(list1[-2]))


'''
3. Slicing a Python List
'''
print(list1[1:3])

#fetch "st" from australia and replace india to canada
list=[ "australia","india","london","japan","korea"]
print(list[0][2:4])
list[1]="canada"
print(list)


#append to list 
list.append("sweden")
print(list)

'''
c. A list is mutable :ability to change ,possible to resign
and delete individual items.
'''
list1[2]="Swedel"
print(list1)


'''
d. How to Delete a Python List?
'''
del list1[2]
print(list1)



'''
e. Reassigning a List in Python
1. Reassigning a single item
'''
list1[0]=0
print(list1)


'''
2. Reassigning a slice
'''
list1[1:3]=["yellow",3,4]
print(list1)






'''
3. Reassigning the entire list
'''
list1=[0,0,0,0]
print(list1)

(3, 4)
['apple', 'banana', 'Orange', 'cherry', False, (3, 4)]
<class 'bool'>
['banana', 'Orange']
st
['australia', 'canada', 'london', 'japan', 'korea']
['australia', 'canada', 'london', 'japan', 'korea', 'sweden']
['apple', 'banana', 'Swedel', 'cherry', False, (3, 4)]
['apple', 'banana', 'cherry', False, (3, 4)]
[0, 'banana', 'cherry', False, (3, 4)]
[0, 'yellow', 3, 4, False, (3, 4)]
[0, 0, 0, 0]

In [52]:
#Python Tuple
colors=('Red','Green','Blue')

'''

features
1.tuple is immutable
2.reassign and delete an entire tuple
3.cannot do the same to a single item or slice
(ordered and unchangeable)//written in rounded brackets
'''


'''
a. Python Tuple Packing
b. Python Tuple Unpacking
c. Creating a tuple with a single item
d. Accessing, Reassigning, and Deleting Items
'''


'''
a. Python Tuple Packing : 
packing a sequence of values into a tuple without using parentheses.  
'''
tuple1=1,2,3
print(tuple1)



'''
b. Python Tuple Unpacking :
unpacking allots the values from a tuple into a
sequence of variables.
'''
a,b,c=tuple1
print(a,b,c)



'''
c. Creating a tuple with a single item
'''
a=(1,)
print(type(a))


'''
d. Accessing, Reassigning, and Deleting Items
                                
                                  #error 
'''
#tuple is immutable
ti=(1,2,3,5,6)
del ti[0]
print(ti)

(1, 2, 3)
1 2 3
<class 'tuple'>

TypeError: 'tuple' object doesn't support item deletion

In [53]:
#python set


'''
Features
1.rearranged the elements in an ascending order.
2.set is unordered
3.set is in curly brackets
4.no indexing present here
'''

myset={3,1,2}
myset



'''
we can't use indexing to access or delete its elements
Python provides us with a list of functions and methods
like discard(), pop(), clear(), remove(), add().
Functions like len() and max() also apply on sets.

'''

{1, 2, 3}

In [57]:
#6. Python Dictionaries
'''
Features:
1.curly and square brackets
2.unordered data values
3.they hold  key:value pair 
4.no duplicate members

'''

mydict={1:2,2:4,3:6}
print(mydict)
mydict[2]


'''
Python dictionary holds key-value pairs. However,
you may not use an unhashable item as a key.
'''
mydictionary ={"name":"swedel","contact":"655949949","age":"88"}
print(mydictionary)
mydictionary["age"]=34
print(mydictionary)

mydictionary ["email"]="swedel.dsouza1996@gmail.com"
print(mydictionary)

{1: 2, 2: 4, 3: 6}
{'name': 'swedel', 'contact': '655949949', 'age': '88'}
{'name': 'swedel', 'contact': '655949949', 'age': 34}
{'name': 'swedel', 'contact': '655949949', 'age': 34, 'email': 'swedel.dsouza1996@gmail.com'}

In [68]:
#example     (List addition  and operation)
li=[2,3,4,5,6]
print(len(li))

si=[2,3,4,6]
print(li+si)             #concatenate


print(si*4)             # si is repeated 4 times more

5
[2, 3, 4, 5, 6, 2, 3, 4, 6]
[2, 3, 4, 6, 2, 3, 4, 6, 2, 3, 4, 6, 2, 3, 4, 6]

In [69]:
#example 2   tuple addition  and deletion is not supported  and operation


mi=(3,4,5,5)
hi=(4,6,6,7)
print(mi+hi)

del hi[1]
print(hi)
print(hi*4)

(3, 4, 5, 5, 4, 6, 6, 7)

TypeError: 'tuple' object doesn't support item deletion

In [78]:
'''
list insert
'''
#insert
mylist =[1,2,8,9 ]
mylist.insert(2,5)
print (mylist)

[1, 2, 5, 8, 9]

In [92]:
#list example
ni=['one','two','three',['abc',2,3,[4,5,['four','five','python','six'],6,7],'seven',8],9,10]
print(ni[3][3][2][2][1:3])
print(ni[3][3][2][2:])
print(ni[4:])

yt
['python', 'six']
[9, 10]